.correct {
    background-color : lightgreen;
    border: 1px darkgreen solid;
}


.incorrect {
    background-color: crimson;
    border: 1px darkred solid;
}

div {
    margin-bottom: 2px;
    position: relative;
    border-radius: 16%;
    width: 30%;
    height: 30%;
    left: 35%;
    padding: 1%;
}

.displayScore {
    position: relative;
    left: 65%;
    border: 1px darkgoldenrod solid;
    background-color: bisque;
}

.container {
    border: 1px darkblue solid;
    background-color: #AAD8E4;
    text-align: center;
    margin: 3px;
}

#theForm {
    position: relative;
    left: 35%;
}
body {
    background-color: #CCE9F5
}
.secret {
    display : none;
    border: none;
}
button {
    position: relative;
    left: 40%;
}
#warning {
    position: relative;
    right: 10%;
}