.correct {
    border: 2px black solid;
    background-color : lightgreen;
    width: 30%;
}

.incorrect {
    width: 30%;
    border: 2px black solid;
    background-color: crimson;
}

div {
    margin-bottom: 2px;
}

.buttons {
    border-radius: 15%;
}
.container {
    border: 1px darkblue solid;
    background-color: #AAD8E4;
    border-radius: 13%;
    width: 30%;
    padding: 1%;
}

#display {
    position: relative;
    left: 35%;
}
#theForm {
    position: relative;
    left: 35%;
}
body {
    background-color: #CCE9F5
}
.secret {
    display : none;
}